# Copia este ficheiro para .env e preenche os valores
# cp .env.example .env

# Nome da chave GPG/snap
KEY_NAME=

# Senha para proteger a chave privada
# Usa algo seguro: letras, números e símbolos
KEY_PASSPHRASE=

# (Opcional) Email Ubuntu One - apenas para referência
SNAPCRAFT_EMAIL=
SNAPCRAFT_PASSWORD=